<div id="<%= dom_id booking %>">
  <p>
    <strong>Ticket quantity:</strong>
    <%= booking.ticket_quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= booking.event_id %>
  </p>

</div>
