
<div class="container mt-5">
  <div class="text-start"><h1>Editing event</h1></div>
  <div class="text-end"><%= link_to "Close", events_path, class: "btn btn-primary", style: "text-decoration: none;" %></div>

  <%= render "form", event: @event %>
</div>