<div class="container mt-5">
  <div class="row">
    <div class="col">

      <!-- Page Heading -->
      <h1 class="mb-4">Events</h1>

      <!-- Link to Create New Event -->
      <%= link_to "New event", new_event_path, class: "btn btn-primary mb-4" if current_user&.admin?%>

      <!-- Events Display -->
      <div id="events" class="row">
        <p class="mb-10 text-danger"><%= "There is not any events at present." if !@events.any? %></p>
        <% @events.each do |event| %>
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <%= render event %>
                <div class="card-footer bg-transparent">
                  <%= link_to 'Book Tickets', new_event_booking_path(event.id), data: { turbo: false }, class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>